body{
  background-image: url("code.jpg");
  background-size: 100%;

}

h1{
  font-family: verdana;
  position: relative;
  text-align: center;
  color: white;
}

h2{
  font-family: sans-serif;
  position: relative;
  text-align: center;
  color: aqua;
}

h3{
  font-family: verdana;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 100px;
}


p{
  font-family: sans-serif;
  font-size: 18px;
}

.ava{
  display: block;
  height:10%;
  margin: 0 auto;
}
